@use "sass:math";

$scene-width: 70vmin;
$scene-depth: 70vmin;
$scene-height: 20vmin;
$scale: 1.0;
$color-main: brown;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
@mixin box($width, $height, $depth, $color) {
	width: $width;
  height: $height;
	
	.container {
    position: relative;
    width: 100%;
    height: 100%;
		
		* {
			position: absolute;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center; 
		}
		
		.left {
			width: $depth;
			height: $height;
			background-color: $color;
			transform-origin: left top;
			transform:
				rotateY(-90deg)
				translateX($depth / -2);
		}
		.right {
			width: $depth;
			height: $height;
			background-color: $color;
			transform-origin: left top;
			transform:
				rotateY(90deg)
				translateX($depth / -2)
				translateZ($width);
		}
		.top {
			background-color: lighten($color, 5%);
			width: $width;
			height: $depth;
			transform-origin: bottom left;
			transform:
				rotateX(90deg)
				translateY($depth / 2)
				translateZ($height);
		}
		.bottom {
			background-color: lighten($color, 5%);
			width: $width;
			height: $depth;
			transform-origin: bottom left;
			transform:
				rotateX(-90deg)
				translateY($depth / 2);
		}
		.front {
			background-color: darken($color, 8%);
			width: $width;
			height: $height;
			transform-origin: bottom left;
			transform:
				translateZ($depth / 2);
		}
		.back {
			background-color: darken($color, 8%);
			width: $width;
			height: $height;
			transform-origin: center;
			transform:
				rotateY(180deg)        
				translateZ($depth / 2)
        rotateX(180deg)
        rotateZ(180deg);
		}
	}
}
@mixin cylinder($width, $height, $color, $parts: 36) {                      
  width: $width;
  height: $height;        
  $circumference: $height * math.$pi;
  $part-width: $circumference / $parts;

  .container {
    span:nth-child(2n) {
      // border-top: 1px solid #fff4;
    }

    &::before {
      content: '';
      position: absolute;
      width: $height;
      height: $height;
      background: lighten($color, 5%);
      transform:
        translateY(-$height)
          rotateY(90deg)              
          translateZ(-$height / 2);
            border-radius: 50%;
            }
    &::after {
      content: '';
      position: absolute;
      width: $height;
      height: $height;
      background: lighten($color, 5%);
      transform:
        translateY(-$height)
          rotateY(90deg)
          translateZ(-$height / 2)
            translateZ($width)
            ;
            border-radius: 50%;
            }
  }

  @for $i from 1 through $parts {
    span:nth-child(#{$i}) { 
      width: $width;
      height: $part-width;
      background: $color;
      transform:
        translateY($height * -0.5 + $part-width * 0.47)
        rotateX($i * 10deg)
        translateZ($height * 0.5)
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #111;
  background-image: radial-gradient(#222, #111);
  overflow: hidden;
  perspective: 1000px;
  
  .scene, .scene * {
    transform-style: preserve-3d;
  }
  
  .scene {
    position: relative;
    width: $scene-width;
    height: $scene-height;
    transform:
      rotateX(-20deg)
      rotateY(10deg)
      scale3d($scale, $scale, $scale);
    animation: rot 20s ease-in-out 0s infinite alternate;
	
		@keyframes rot {
      to {
        transform: 
          rotateX(0deg)
          rotateY(440deg)
          scale3d($scale, $scale, $scale);
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -100;
      transform:
        rotateX(90deg)
        scale(1.0);
    }
    
    .cube, .cube *, .cylinder, .cylinder * {
			position: absolute;
			bottom: 0;
    }
    
    ._face {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
    }
    
    #ground {
      z-index: -50;
      $width: $scene-width;
      $height: 3vmin;
      $depth: $scene-depth;
      $color: darken(brown, 10%);
      @include box($width, $height, $depth, $color);
      transform: translateY(3vmin);

      .container {
        .left, .right, .front, .back {
          background-image: 
            linear-gradient(180deg, #0000 0% 20%, darken(brown, 5%) 20% 45%, #0000 45% 100%);
        }
        .bottom {
          background-color: #333;
          filter: drop-shadow(0 0 0.5rem #0008);
        }
        .top {
          box-shadow: inset 0 0 15vmin #000a;
          background-image:
            radial-gradient(#0006, #0000 15vmin),
            linear-gradient(to bottom, $color-main 30%, #0000 30% 70%, $color-main 70% 100%),
            repeating-linear-gradient(to right, #0000 0% 50%, #0001 50% 100%);
          background-size: 100%, 100%, 4em 4em;
          animation: floorMove 0.5s infinite linear;

          @keyframes floorMove {
            to { 
              background-position-x: center, 4em, 4em;
            }
          }
        }
      }
    }
    
    .wheels {
      #wheel-1 {
        $width: 10vmin;
        $height: 10vmin;
        $color: brown; 
        @include cylinder($width, $height, $color);
        transform:
          translateX(27vmin)
          rotateY(90deg);
        animation: wheel1-rot 5s infinite linear;
        .container {
          span:nth-child(even) {
            background-color: darken($color, 10%);
          }
          span:nth-child(odd) {
            background-color: lighten($color, 10%);
          }
          &::after, &::before {
            box-shadow: inset 0 0 5vmin darken($color, 15vmin);
          }
        }
        
        @keyframes wheel1-rot {
          to { 
            transform:
              translateX(27vmin)
              rotateY(90deg)
              rotateX(360deg);
          }
        }
      }
      #wheel-2 {
        $width: 10vmin;
        $height: 10vmin;
        $color: darkolivegreen; 
        @include cylinder($width, $height, $color);
        transform:
          translateX(27vmin)
          translateY(-10vmin)
          rotateY(90deg);
        animation: wheel2-rot 5s infinite linear reverse;
        .container {
          span:nth-child(even) {
            background-color: darken($color, 10%);
          }
          span:nth-child(odd) {
            background-color: lighten($color, 10%);
          }
          &::after, &::before {
            box-shadow: inset 0 0 5vmin darken($color, 15vmin);
          }
        }
        
        @keyframes wheel2-rot {
          to { 
            transform:
              translateX(27vmin)
              translateY(-10vmin)
              rotateY(90deg)
              rotateX(360deg);
          }
        }
      }
    }
    .pillars {
      #pillar-1 {
        $width: 25vmin;
        $height: 6vmin;
        $color: sienna; 
        @include cylinder($width, $height, $color);
        transform: 
          translateX(-2.5vmin)
          translateY(-10vmin)
          translateZ(25vmin)
          rotateZ(90deg);
        .container {
          span:nth-child(even) {
            background-color: darken($color, 5%);
          }
          span:nth-child(odd) {
            background-color: lighten($color, 5%);
          }
          &::after, &::before {
            box-shadow: inset 0 0 5vmin darken($color, 15vmin);
          }
          &::after {
            box-shadow: 0 0 3vmin #0008;
          }
        }
      }
      #pillar-2 {
        $width: 25vmin;
        $height: 6vmin;
        $color: sienna; 
        @include cylinder($width, $height, $color);
        transform: 
          translateX(47.5vmin)
          translateY(-10vmin)
          translateZ(25vmin)
          rotateZ(90deg);
        .container {
          span:nth-child(even) {
            background-color: darken($color, 5%);
          }
          span:nth-child(odd) {
            background-color: lighten($color, 5%);
          }
          &::after, &::before {
            box-shadow: inset 0 0 5vmin darken($color, 15vmin);
          }
          &::after {
            box-shadow: 0 0 3vmin #0008;
          }
        }
      }
      #pillar-3 {
        $width: 25vmin;
        $height: 6vmin;
        $color: sienna; 
        @include cylinder($width, $height, $color);
        transform: 
          translateX(47.5vmin)
          translateY(-10vmin)
          translateZ(-25vmin)
          rotateZ(90deg);
        .container {
          span:nth-child(even) {
            background-color: darken($color, 5%);
          }
          span:nth-child(odd) {
            background-color: lighten($color, 5%);
          }
          &::after, &::before {
            box-shadow: inset 0 0 5vmin darken($color, 15vmin);
          }
          &::after {
            box-shadow: 0 0 3vmin #0008;
          }
        }
      }
      #pillar-4 {
        $width: 25vmin;
        $height: 6vmin;
        $color: sienna; 
        @include cylinder($width, $height, $color);
        transform: 
          translateX(-2.5vmin)
          translateY(-10vmin)
          translateZ(-25vmin)
          rotateZ(90deg);
        .container {
          span:nth-child(even) {
            background-color: darken($color, 5%);
          }
          span:nth-child(odd) {
            background-color: lighten($color, 5%);
          }
          &::after, &::before {
            box-shadow: inset 0 0 5vmin darken($color, 15vmin);
          }
          &::after {
            box-shadow: 0 0 3vmin #0008;
          }
        }
      }
    }
    .roof {
      #roof {
        $width: $scene-width * 0.85;
        $height: 2vmin;
        $depth: $scene-depth * 0.85;
        $color: darken(brown, 15%);
        @include box($width, $height, $depth, $color);
        transform: 
          translate3d($scene-width * 0.075, -25.5vmin, 0);
      }      
    }
  }
}